<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="form-container">

    <h1>Sign In</h1>
   
    <form action="{% url 'login_user'%}" method="POST">  <!--#the data sent to login_user in views, so that it can authenticate-->
        {% csrf_token %}

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password">
        </div>

        <button class="submit-btn" type="submit">
            Sign In
        </button>

    </form>

    <div class="form-link">
        Don't have an account?
        <a href="{% url 'register' %}">Register</a>
    </div>
    <div class="form-link">
        <a href="{% url 'home' %}">← Back to Home</a>
    </div>

</div>

</body>
</html>